// Main Colors //
@colorName:         #d7ede1;

// Roll your own Color Scheme
@defaultText:		@colorName;
@linkActive:		@split1;
@linkHover:			@split2;
@baseColor:         @colorName;             // Set a base color
@complement:        spin(@baseColor, 180);  // Determine a complementary color
@split1:            spin(@baseColor, 158);  // Split complements
@split2:            spin(@baseColor, -158);
@triad1:            spin(@baseColor, 135);  // Triads colors
@triad2:            spin(@baseColor, -135);
@tetra1:            spin(@baseColor, 90);   // Tetra colors
@tetra2:            spin(@baseColor, -90);
@analog1:           spin(@baseColor, 22);   // Analogs colors
@analog2:           spin(@baseColor, -22);

// Gradient color schemes //

// Box shadows //

// Text shadows //
